#
# Données de la DB
#

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

#
# Authentik
#

# Se génère avec bunx auth secret
BETTER_AUTH_SECRET=""
# Disponible sur developers.inpt.fr
AUTH_AUTHENTIK_ID=""
# Disponible sur developers.inpt.fr
AUTH_AUTHENTIK_SECRET=""
# Disponible sur Authentik
PUBLIC_AUTH_AUTHENTIK_ISSUER=https://auth.inpt.fr/application/o/defis-inte/ 
PORT=5174
ORIGIN=http://localhost:5174

# Ne pas utiliser Authentik (voir README)
ENABLE_MOCK_AUTH=true
# Rendre les 1A end 2A avant la rentrée (voir README)
PUBLIC_1ATo2AChurros=false

#Ou sont enregistrée les fichiers en local
UPLOADS_PATH=./uploads
