POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

#
# Authentik
#

BETTER_AUTH_SECRET="" #A generer avec npx auth secret (auth@1.5.6)
AUTH_AUTHENTIK_ID="SECRET" #A demander à quelqu'un
AUTH_AUTHENTIK_SECRET="INP-NET-SECRET" #A demander à quelqu'un
PUBLIC_AUTH_AUTHENTIK_ISSUER=https://auth.inpt.fr/application/o/defis-inte/ 
PORT=5174
ORIGIN=http://localhost:5174

# Pour activer l'authentification falsifié
# Les informations de l'utilisateur crée sont dans auth.ts
ENABLE_MOCK_AUTH=true

PUBLIC_1ATo2AChurros = false  # passage des 1A en 2A sur churros
